<div class="w-full mb-4">
  <div class="flex w-full md:w-auto flex-col">
    <div class="w-full md:w-auto justify-left ml-4">
      <h1>Hello, Marry!</h1>
    </div>
    <div class="w-full md:w-auto justify-left ml-4">
      <p class="text-stone-300">Friday, July 15</p>
    </div>
    <div
      class="w-full md:w-auto border border-gray-200 rounded-lg shadow dark:border-gray-700 dark:bg-gray-800 bg-gray-300"
    >
      <div class="grid grid-cols-3 gap-4 mx-2 my-1">
        <div class="...">
          <img src="assets/images/doctor.png" alt="" />
        </div>
        <div class="col-span-2 align-middle font-bold flex items-center">
          <p>
            This is your progress, so far, Lorem ipsum dolor sit amet
            consectetur adipisicing elit.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
