<ion-header>
  <ion-toolbar
    style="background: blue; --background: blue;"
    class="h-15 content-center"
  >
    <div class="grid grid-cols-4 gap-3 mx-3">
      <div class="...">
        <app-icon
          icon="burger-menu"
          align="left"
          theme="light"
          width="30"
        ></app-icon>
      </div>
      <div class="col-span-2">
        <h3 class="text-white">
          {{title}}
        </h3>
      </div>
      <div class="...">
        <app-icon icon="bell" align="right" theme="light" width="30"></app-icon>
      </div>
    </div>
  </ion-toolbar>
</ion-header>
